/* Setup Snippet */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: var(--color-primaryBlueBlackRed);
  font-family: "Roboto", sans-serif;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* General styling  */
html {
  font-family: "Almarai", sans-serif;
}

body {
  background-color: #FFDF90;
}

h1 {
  color: #E9C46A;
  font-size: 60px;
  margin: 2% 0 2% 5%;
}

h1 span {
  color: #EE7766;
}


h2 {
  padding: 5%;
}

h3 {
  font-size: 15px;
  margin: 0;
}

p {
  margin: 0;
}

/* Header and footer styling */
.header, 
.footer {
  width: 100%;
  background-color: #264653;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Stops horizontal scroll from triangle shape */
  overflow: hidden; 
}

.imageTriangle {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #F4A261;

}

/* Main section */
main {
  display: flex;
}

.loading {
  text-align: center;
  width: 100%;
  height: 20%;
  color: #264653;
}

/* Loading icon idea from loading.io */
.loadRipple {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
.loadRipple div {
  opacity: 1;
  position: absolute;
  border: 4px solid #264653;
  border-radius: 50%;
  animation: loadRipple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loadRipple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loadRipple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


/* Side Nav */

.sideNav, button {
  color: #E9C46A;
  background-color: #264653;
}

.sideNav {
  text-align: center;
  width: 15%;
  min-width: 90px;
}

.navWrapper {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top:0;
}


ul {
  width: 100%;
  border-bottom: #EE7766 2px solid;
  border-top: #EE7766 2px solid;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: #EE7766 2px solid;
  border-top: #EE7766 2px solid;
  padding: 10% 4%;
}

  /* Class for CSS "fill" effect  */
.btn-slide {
  position: relative;
  z-index: 1;
}

/* The "fill" that hapens on focus and hover is a pseudoclass that transforms to the right, going from the scaleX of 0 to 1*/
.btn-slide::before {
  content: "";
  background-color:#2A9D8F;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index:-5;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: left;
}

.btn-slide:hover::before, 
.btn-slide:focus::before {
  transform: scaleX(1)
}

/* Currency converter */
.currencies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: none;
  border-bottom: none;
  margin-top: 0;
}

.currencies li {
  height: 40px;
}

.currencies img {
  height: 100%;
  width: 80%;
  max-width: 90px;
  border: transparent 2px solid;
  margin-top: 3px;
}

.currencies img:hover, .currencies img:focus {
  border: #EE7766 2px solid;
}

/* "Hover for description" seen only on larger screens */
.descriptionExplain {
  display: block;
}


/* Product area */
/* Look inside ShowProduct.js for product divs */
.productContainers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.itemContainer, p {
  color: #264653;
}

.itemContainer {
  max-width: 20%;
  min-width: 200px;
  max-height: 600px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #264653 2px solid;
  margin: 1%;
}

/* Look inside HoverText.js for image divs */
.itemImage {
  height: 100%;
  max-height: 100%;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Only shows up on mobile */
.descriptionButton {
  color: #264653;
  background-color: #ee7866e0;
  max-width: 50%;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3%;
}

.itemDesc {
  font-size: 14px;
  height: 100%;
  width: 100%;
  color: white;   
  background: linear-gradient(0deg,  #000000bb 10%, #000000 100%);
  position: absolute;
  padding: 5%;
  overflow: scroll;
  /* Hiding scroll bars inside boxes */
  scrollbar-width: none; 
  -ms-overflow-style: none;
}


/* Hiding scrollbar for firefox */
.itemDesc::-webkit-scrollbar {
  display: none;
}

/* "Tap to hide" for mobile users */
.itemDesc span {
  font-weight: bold;
  color: #EE7766;
  display: none;
}


.itemContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Description portion under item */
.itemText {
  background-color: #F4A261;
  position: relative;
  padding: 10px;
}

.priceBubble {
  background-color: #264653;
  position: absolute;
  right: 1px;
  bottom: 1px;
  border-radius: 50px;
  padding: 2%;
  width: 40%;
  text-align: center;

}

.itemPrice {
  font-weight: bold;
  color: #E9C46A;
}


/* Banner at the bottom of page */
.creditSocials {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #E9C46A;
}

a {
  color:#264653;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid transparent;
}
a:visited {
  color: #264653;
  text-decoration: none;
}
a:hover {
  color: #EE7766;
}

.socials a{
  margin: 0 2%;
}

.initials {
  height: 14px;
}


@media screen and (max-width: 768px)  {
  button {
    padding: 20% 5%;
  }
  
  .descriptionExplain{
    display: none;
  }
  
  .descriptionButton, .itemDesc span {
    display: block;
  }
}
  
@media screen and (max-height: 590px)  {
  /* Error handling: if screen is too small vertically, can still scroll through categories, loses sticky property */
  .sideNav {
    overflow: scroll;
  }
}